
.header {
    font-size: 50px;
}
 .form > * {
    font-size: xx-large;
    color: rgb(0, 0, 0);
    display: block;
    padding: 0px;
    margin-left:50px;
    margin-right: 0px;
    width: 164px;
    background-color: rgb(255, 255, 255);
 }

 .submitbtn {
    border: none;
    background-color: rgb(255, 0, 0);
    border-radius: 25px;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin-left: 35px;
    text-align: center;
    padding: 5px;
 }
